.language_switch {
    background: #F2F4F6;
    padding: 8px 0;
    position: relative;
}

.language_current {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 136.4%;
    gap: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    cursor: pointer;
    position: relative;
    max-width: max-content;
    z-index: 1;
}

.language_current li a  {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 136.4%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.language_current li {
    width: 100%;
}
.language_current li:nth-child(2) {
    display: none;
}
.language_current.show li:nth-child(2) {
    display: block;
}
.language_current.show li a svg {
    transform: rotate(180deg);
}

.language_current li a img {
    width: 16px;
    height: 16px;
    border-radius: 100px;
}

.inner > div:has(.language_current) {
    max-width: max-content;
    height: 25px;
}

/* .language_list {
    background: #fff;
    width: max-content;
    min-width: 74px;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    display: none;
    top: 36px;
    z-index: 99;
}

.language_list.show {
    display: block;
    transition: .3s ease;
}

.language_list li {
    margin-bottom: 8px;
}

.language_list li:last-child {
    margin-bottom: 0;
} */

.top_header {
    background-color: #f2f4f6;
}

.top_header .inner {
    display: flex;
    justify-content: space-between;
}

.top_header .login_wrap {
    width: auto;
}

.full_wrap .language_current {
    font-size: 20px;
}

.full_wrap .language_list a {
    font-size: 20px;
}

.full_wrap .language_list {
    min-width: 90px;
}

@media screen and (min-width: 481px) and (max-width: 867px) {
    .top_header {
        display: none;
    }
}